<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParkingGarageManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ParkingGarageManagementSystem.Properties.Settings.mbaylesDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Mike Bayles\Documents\mbaylesDatabase.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <ParkingGarageManagementSystem.Properties.Settings>
            <setting name="GmailPassword" serializeAs="String">
                <value>aGreatPassword</value>
            </setting>
        </ParkingGarageManagementSystem.Properties.Settings>
    </applicationSettings>
</configuration>